# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
.vscode

# env
.env
.env.prod

# personal
data
.DS_Store

# Auth key
configs/keys/*.key

# Reload
tmp
